@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  h1 {
    @apply m-0 text-center text-2xl sm:text-3xl md:text-4xl lg:text-[50px] font-bold;
  }
  h2 {
    @apply text-center text-lg lg:text-2xl font-bold mb-4;
  }
  h3 {
    @apply m-0 text-base lg:text-xl font-bold;
  }
  .padding-x-main {
    @apply px-5 sm:px-20 xl:px-40;
  }
  .ft-regular {
    @apply text-sm sm:text-base;
  }
  .ft-small {
    @apply text-sm sm:text-sm;
  }
}
.loader {
  border: 16px solid #e3e3e3;
  /* indigo-main */
  border-top: 16px solid #6366f1;
}
.loader-small {
  border: 8px solid #e3e3e3;
  border-top: 8px solid #6366f1;
}
